{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<main>
		<div class="container card">
			<div class="card-header">
				<h1 class="mb-4">Mentions Légales</h1>
			</div>
			<div class="card-body">
				<p class="mb-3">Ce site est édité par [Nom de votre entreprise], SARL au capital de [montant] euros, dont le siège social est situé au [Adresse complète], immatriculée au Registre du Commerce et des Sociétés de [Ville] sous le numéro [Numéro RCS].</p>
				<p class="mb-3">Directeur de la publication : [Nom du directeur], joignable à [Adresse email].</p>
				<p class="mb-3">Le site est hébergé par [Nom de l'hébergeur], [Adresse de l'hébergeur], [Numéro de téléphone de l'hébergeur].</p>
				<p class="mb-3">Pour toute question concernant ce site et son contenu, veuillez nous écrire à l'adresse email suivante : [Adresse email de contact].</p>

				<h2 class="mb-4">Propriété intellectuelle</h2>
				<p class="mb-3">L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques.</p>

				<h2 class="mb-4">Protection des données personnelles</h2>
				<p class="mb-3">Conformément à la loi n° 78-17 du 6 janvier 1978, modifiée par la loi n° 2004-801 du 6 août 2004, relative à l'informatique, aux fichiers et aux libertés, ce site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr).</p>
			</div>
		</div>
	</main>
{% endblock %}
